body {
    margin: 0;
    color: white;
    background-color: #738956;
}

a {
    text-decoration: none;
}

/* HOVER STYLES */

.hover-style-1:hover {
    background-color: rgba(0, 0, 0, 10%);
}

a:hover {
    color: white;
}

.clickable:hover {
    cursor:pointer;
}


.navbar {
    margin: 0;
    background-color: #99b667;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: rgb(51, 51, 51) .1rem solid;
}

.nav-item-container {
    height: 3.5rem
}

.center-nav-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;

}

.center-nav-icon::after {
    
    box-sizing: border-box;
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transition: 250ms;

}
.center-nav-icon:hover::after {
    transform: scaleX(1);
    
}

.navbar .nav-categories {
    display: flex;
}



.header-website-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 800;
}

.nav-user-logged-out {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 1rem;
}

.nav-profile {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding-right: 2rem;
}

.sign-in-button, .sign-up-button {
    font-weight: 800;
    position: relative;
    padding: .5rem;
    padding-inline: .75rem;
    border-radius: 10px;
    border: solid .1rem;
}

.sign-in-button:hover, .sign-up-button:hover {
    background-color: rgba(0, 0, 0, 10%);
}

/* HOME PAGE */
.home-container {
    display: flex;
    justify-content: center;
}

/* VIEW POST PAGE*/
.view-post-container {
    display: flex;
    justify-content: center;
}



/*  POST COMPONENT  */

.post-container {
    background-color: #99b667b6;
    margin: .5rem;
    width: 40rem;
    border-radius: 3px;
    border: solid .2rem #99b667;
    padding: 1rem;
    padding-bottom: .2rem;

}

.post-interaction-icon-container {
    display: flex;
    margin-top: .5rem;
    gap: 1rem;
}
.post-interaction-icon-container div svg {
    width: 2rem;
}

.post-user-info {
    display: flex;
}

.post-title {
    margin-block: .4rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.post-body {
    position: relative;
    max-height: 25rem;
    overflow: hidden;
    text-overflow: ellipsis ellipsis;
}

.post-body::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    /*background:linear-gradient(transparent 20rem, #99b667b6);*/
}

/* SIDEBAR COMPONENTS */

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #99b667b6;
    margin: .5rem;
    width: 16rem;
    min-height: 2rem;
    border-radius: 3px;
    border: solid .2rem #99b667;
    padding: .1rem;
}