@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: white;
    background-color: #738956;
}

a {
    text-decoration: none;
}

svg {
    width: inherit;
    height: inherit;
}


/*SELECT STYLES*/

.select-1 {
    font-family: sans-serif;
    background-color: white;
    padding: .5rem;
    padding-block: .5rem;
    border: solid grey 2px;
    border-radius: 5px;
}

/* TRANSFORM CLASSES */

.upside-down {
    transform: scaleY(-1);
}

/* HEADER STYLE*/

.header-1 {
    font-weight: 800;
}

/* CONTAINER STYLES */

.container-1 {
    background-color: #99b667b6;
    margin: .5rem;
    width: 15rem;
    border-radius: 3px;
    border: solid .2rem #99b667;
    padding: 1rem;
    padding-bottom: .2rem;

}

.container-2 {
    background-color: #99b667b6;
    margin: .5rem;
    width: 15rem;
    border-radius: 3px;
    border: solid .2rem #99b667;
    padding: .5rem;

}

.container-3 {
    background-color: #99b667;
    border-radius: 3px;
    border: solid .2rem #738956;
    padding: .5rem;

}

/* BUTTON STYLES */
.button-style-1 {
    text-align: center;
    font-weight: 800;
    position: relative;
    padding: .5rem;
    padding-inline: .75rem;
    border-radius: 10px;
    border: solid .1rem;
}

.button-style-2 {
    text-align: center;
    font-weight: 800;
    position: relative;
    padding: .5rem;
    padding-inline: .75rem;
    border-radius: 2px;
    border: solid .1rem;
}

/* DROP DOWN STYLES */
.dropdown-style-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #738956;
    border-radius: 3px;
    border: solid .2rem #99b667;
    margin-block: .2rem;

}

.dropdown-style-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #99b667;
    border-radius: 3px;
    border: solid .2rem #738956;
    margin-block: .2rem;

}

.dropdown-option-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

/* FORM STYLES */ 
.form-style-1 {
    width: 30rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #738956;
    border-radius: 3px;
    border: solid .2rem #99b667;
    margin-block: .2rem;
}

.form-style-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #738956;
    border-radius: 3px;
    border: solid .2rem #99b667;
    margin-block: .2rem;
}

/* INPUT STYLES */

.input-field-style-1 {
    text-align: center;
    margin-bottom: .5rem;
    height: 2rem;
    width: 90%;
    font-size: 1.4rem;
}

/* HOVER STYLES */

.hover-style-1:hover {
    background-color: rgba(0, 0, 0, 10%);
}

.hover-style-2:hover {
    background-color: white;
    color: black;

}

a:hover {
    color: white;
}

.clickable:hover {
    cursor:pointer;
}

.flash-error-card {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: .5rem;
    width: calc(min(95%, 20rem));
    top: 2rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    border-left: 1rem lightcoral solid;
    box-shadow: 0rem 0rem 1rem .2rem black;
    background-color: #738956;
}

/* NAVBAR COMPONENT */

.navbar {
    margin: 0;
    background-color: #99b667;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: rgb(51, 51, 51) .1rem solid;
}

.nav-item-container {
    height: 3.5rem
}

.center-nav-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;

}

.center-nav-icon::after {
    
    box-sizing: border-box;
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transition: 250ms;

}
.center-nav-icon:hover::after {
    transform: scaleX(1);
    
}

.navbar .nav-categories {
    display: flex;
}



.header-website-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 800;
}

.nav-user-logged-out {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 1rem;
}

.sign-in-button, .sign-up-button {
    font-weight: 800;
    position: relative;
    padding: .5rem;
    padding-inline: .75rem;
    border-radius: 10px;
    border: solid .1rem;
}

.sign-in-button:hover, .sign-up-button:hover {
    background-color: rgba(0, 0, 0, 10%);
}

.sign-in-error {
    display: flex;
    flex-direction: column;
    color: pink;
    background-color: rgba(0, 0, 0, 10%);
    padding: 1rem;
    border-radius: 10px;
    margin-block: 2rem;

}

.sign-up-error {
    display: flex;
    flex-direction: column;
    color: pink;
    background-color: rgba(0, 0, 0, 10%);
    padding: 1rem;
    border-radius: 10px;
    margin-block: .2rem;

}

.nav-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 2rem;
}

.nav-profile-preview {
    position: relative;
    display: flex;
    align-items: center;
    gap: .3rem
}

.nav-profile-dropdown {
    position: absolute;
    z-index: 1000;
    top: 3rem;
    right: 0;
    width: 10rem;
}

.nav-profile-dropdown-icon {
    transition: 250ms;
}

.nav-profile-dropdown-icon {
    height: 2rem;
}

/* SIGN IN PAGE */
.sign-in-container, .sign-up-container {
    display: flex;
    margin: 10vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-in-profile-icon, .sign-up-profile-icon  {
    width: 13rem;
    height: 13rem;
}

.sign-in-profile-icon, .sign-up-profile-icon {
    margin-bottom: 5rem;
}

.sign-in-button-1, .sign-up-button-1 {
    height: 3rem;
    width: 50%;
}

@media (max-width: 600px) {
    .form-style-1 {
        height: 25rem;
        width: 100%;
    }

    .sign-in-container, .sign-up-container {
        margin: 5vh;
    }

    .sign-in-profile-icon, .sign-up-profile-icon  {
        width: 8rem;
        height: 8rem;
    }
}

/* HOME PAGE */

.no-home-posts {
    width: 70%;
    margin-top: 10vh;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

.nhp-popular-icon {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    
}

.home-container {
    display: flex;
    justify-content: center;
}

/* VIEW POST PAGE*/
.view-post-container {
    display: flex;
    justify-content: center;
}



/*  POST COMPONENT  */
.home-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container {
    background-color: #99b667b6;
    margin: .5rem;
    width: 40rem;
    border-radius: 3px;
    border: solid .2rem #99b667;
    padding: 1rem;
    padding-bottom: .2rem;
    

}

.post-interaction-icon-container {
    display: flex;
    margin-top: .5rem;
    gap: 1rem;
}
.post-interaction-icon-container div {
    width: 2rem;
}

.heart-interactable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(auto, 2rem);
}

.heart-interactable.filled svg{
    fill: red;
}

.post-user-info {
    display: flex;
}

.post-title {
    margin-block: .4rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.post-images-container {
    width: 100%;
}

.post-images-container img {
    width: 100%;
}

.post-preview-body {
    position: relative;
    max-height: 25rem;
    overflow: hidden;
    text-overflow: ellipsis ellipsis;
}

.post-preview-body::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    /*background:linear-gradient(transparent 20rem, #99b667b6);*/
}

@media (max-width: 700px) {
    .post-container {
        width: 95%;
        
    }
}

/* SIDEBAR COMPONENTS */

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #99b667b6;
    margin: .5rem;
    width: 16rem;
    min-height: 2rem;
    border-radius: 3px;
    border: solid .2rem #99b667;
    padding: .1rem;
}

.sidebar-component-body .button {
    margin-block: 1rem;
}

/* USER PROFILE PAGE */

.user-profile-container {
    display: flex;
    justify-content: center;
}

.user-profile-post-container {
    margin: .5rem;
    padding-bottom: .2rem;
}

.user-profile-sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 15rem;
    height: 20rem;
}

.sidebar-profile-picture {
    width: 8rem;
    height: 8rem;
}

@media (max-width: 950px) {
    .user-profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-profile-sidebar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 1rem;
        width: 90%;
        height: 20rem;
    }

    .user-profile-post-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* NEW POST PAGE */

.new-post-container {
    margin-block-start: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-post-form-container {
    width: 40rem;
}

.new-post-header {
    display: flex;
    justify-content: start;
    width: 42rem;
    font-size: 1.75rem;
    font-weight: 800;
    margin-block-end: 1rem;
}

.new-post-body {
    text-align: start;
    height: 20rem;
    resize: vertical;
}

.new-post-title {
    text-align: start;
}

.new-post-submit {
    width: 20%;
    height: 3rem;
}

.new-post-slectors {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.new-post-slectors label {
    font-size: 1.25rem;
    font-weight: 800;
    margin-block-end: .25rem;
}

.new-post-slectors select {
    margin-block-end: 1rem;
}

@media (max-width: 750px) {
    .new-post-form-container {
        width: 99%;
        padding-inline: 0;
    }
    .new-post-submit {
        width: 90%;
        height: 3rem;
    }
    .new-post-header {
        width: 100%;
    }
    .new-post-container {
        margin-block-start: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* COMMUNITY COMPONENT */

.community-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.community-navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    
}

.community-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.community-join-button > form > input {
    width: 5rem;
}

.community-topic-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 2.5rem;
    width: 10rem;
}

.community-topic-dropdown {
    position: absolute;
    top: 3.5rem;
}

.community-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.community-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 500px) {
    .community-navbar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    .community-navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
}

/* CREATE COMMUNITY PAGE */
.create-community-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.create-community-form {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 2rem;
    width: min(90%, 50rem);
}

.create-community-form-item {
    display: flex;
    flex-direction: column;
    margin-block-end: 3rem;
}

.create-community-form-item > .text-input {
    height: 2rem;
}

.create-community-form-description-textarea {
    width: 60%;
    transition: 250ms;
    height: 20rem;
    resize: vertical;
}

#community-name-input-field {
    width: 12rem;
}

@media (max-width: 1200px) {
    .create-community-form-description-textarea {
        width: 80%;
        height: 20rem;
        resize: vertical;
    }
}

@media (max-width: 750px) {
    .create-community-form-description-textarea {
        width: 100%;
        height: 20rem;
        resize: vertical;
    }
}

/* COMMENT COMPONENT */

.post-comment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-comment-textarea {
    resize: vertical;
}

.post-comment-submit {
    display: flex;
    justify-content: flex-end;
}

.comment-author {
    margin-top: 3rem;
}
.comment-body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-body-text {
    padding-block-end: 1rem;
    width: 100%;
    border-bottom: #738956 solid .5rem;
}
.comment-reply-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: .5rem;
}

.comment-reply-textarea {
    resize: vertical;

}

.comment-reply-submit {
    display: flex;
    justify-content: flex-end;
}

/* USER FRIENDS PAGE */

.user-friends-page-container {
    display: flex;
    padding-block-start: 1rem;
    justify-content: center;
    gap: 1rem;
}

.user-friends-container {
    display: grid;
    width: auto;
    padding-inline: 2rem;
    padding-block: 2rem;
    grid-template-columns: repeat(3, 15rem);
    column-gap: 2rem;
    
}

.friend-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friend-profile-picture {
    width: 10rem;
    height: auto;
}

.friend-requests-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    gap: 1rem;

}

.friend-request-item {
    display: flex;
    align-items: center;
}

.friend-request-options {
    display: flex;
    gap: .5rem;
    justify-content: flex-start;


}

@media (max-width: 1250px) {
    .user-friends-container {
        display: grid;
        width: auto;
        padding-inline: 2rem;
        padding-block: 2rem;
        grid-template-columns: repeat(3, 12rem);
        column-gap: 2rem;
        
    }
    .friend-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1100px) {
    .user-friends-page-container {
        display: flex;
        flex-direction: column-reverse;
        padding-block-start: 1rem;
        align-items: center;
        gap: 1rem;
    }
    .user-friends-container {
        display: grid;
        width: auto;
        padding-inline: 2rem;
        padding-block: 2rem;
        grid-template-columns: repeat(3, 12rem);
        column-gap: 2rem;
        
    }
    .friend-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .friend-requests-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        overflow-x: scroll;
        width: 90%;
        gap: 1rem;
        flex-shrink: 0;
    
    }
    .friend-request-item {
        min-width: 17rem;
    }
}

@media (max-width: 700px) {

    .user-friends-container {
        display: grid;
        width: auto;
        padding-inline: 2rem;
        padding-block: 2rem;
        grid-template-columns: repeat(2, 12rem);
        column-gap: 2rem;
        
    }

}

@media (max-width: 500px) {

    .user-friends-container {
        display: grid;
        width: auto;
        padding-inline: 2rem;
        padding-block: 2rem;
        grid-template-columns: repeat(1, 12rem);
        column-gap: 2rem;
        
    }

}