<form action="/communities/new-community" method="POST">
    <div>
        <label for="name" id="community-name-form-label">Name</label></br>
        <input type="text" name="name" id="community-name-input-field"/>
    </div>

    <div>
        <label for="description" id="community-description-form-label">Description</label></br>
        <input type="text" name="description" id="community-description-input-field"/>
    </div>

    <div>
        <label for="topics" id="community-topics-form-label">Topics</label></br>
        <div>Please Seperate By Commas</div>
        <input type="text" name="topics" id="community-topics-input-field"/>
    </div>
    <div>
        <label for="tags" id="community-tags-form-label">Topics</label></br>
        <div>Please Seperate By Commas</div>
        <input type="text" name="tags" id="community-tags-input-field"/>
    </div>
    <input type="submit" value="Create"/>
</form>