<form action="/users/sign-in" method="POST">


    <div>
        <label for="username">Username:</label>
        <input name="username" type="username" id="username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input name="password" type="password" id="password"/>
    </div>
    <input type="submit" value="Sign In"/>
</form>