<h1>New Post</h1>

<form action="/posts/new-post" method="POST">
    <div>
        <label for="title"></label>
        <input name="title" type="text" id="title"/>
    </div>
    <div>
        <label for="body"></label>
        <input name="body" type="text" id="body"/>
    </div>
    <input type="submit" value="Create"/>
</form>